.input input{
    border: 1px black solid;
    border-radius: 4px;
}
.login{
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)), url("../../public/images/bbg.jpg");
    background-size: contain;
    height: 100vh;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 40%;
    border-radius: 30px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.form form{
    margin-top: 30px;
}
.input{
    display: flex;
    flex-direction: column;
}
.input input{
    margin-bottom: 30px;
    height: 28px;
    width: 250px;
    padding: 5px 20px;
    border-radius: 25px;
}
.form label{
    margin-bottom: 4px;
}
.form button{
    margin-left: 30%;
    font-size: 15px;
    padding: 10px 45px;
    border-radius: 20px;
    color: white;
    background-color: green;
    border: none;
}
.form button:hover{
    box-shadow: 0px 0px 15px black;
}