.books{   
    color: white;
    margin:  20px 9%;  	 
    padding: 15px; 
    width: 80%;
    background-color: rgb(27, 34, 48);
    border: 2px black solid;
    display: flex;
    justify-content: flex-start;
}
.booksinfo{
    margin-left: 100px;
}
.delete{
    color: white;
    background-color:red;
    border: 2px red solid;
    border-radius: 6px;
    padding: 7px 30px;
}
.delete:hover{
    color: red;
    background-color:whitesmoke;
    border: 2px red solid;
    box-shadow: 1px 1px 20px red;
}
#read{
    border: 2px blue solid;
    border-radius: 6px;
    padding: 7px 30px;
    color:  aliceblue;
    background-color:blue;
    margin-right: 10px;
}
#read:hover{
    color: blue;
    border: 2px blue solid;
    background-color: white;
    box-shadow: 1px 1px 20px blue;
}
.books img{
    width: 250px;
    border-radius: 4px;
}
.detail{
   text-align: center;   
   color: aliceblue;
}
.detail h1{
    margin: 0px;
}
.booklist{
 background-color: rgb(97, 97, 97);
}
