.landingpage{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../../public/images/bg.jpg");
    height: 100vh;
    background-size: cover;
    text-align: center;
}
.portal{
    width:60%;
    height: 60%;
    position: absolute;
    top: 15%;
    left: 20%;
    border-radius: 10px;
}
.portal h1{
    color: white;
    font-size: 45px;
}
.portal img{
    width: 140px;
    border-radius: 150px;
    margin-bottom: 10px;
}
.portallogin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
      
}
.portal_admin {
    display: flex;
    flex-direction: column;
}
.portal_user{
    display: flex;
    flex-direction: column;
}

#admin_btn{
    color: whitesmoke;
    background-color: rgb(233 115 45);
    border: 2px white solid;
    padding: 5px 12px;
    border-radius: 9px;
}
#admin_btn:hover{
    color:rgb(233, 115, 45);
    background-color: white;
    border: 2px rgb(233, 115, 45) solid;
    box-shadow: 1px 1px 30px rgb(233, 115, 45);
}
#user_btn{
    color: whitesmoke;
    background-color: green;
    border: 2px white solid;
    padding: 5px 12px;
    border-radius: 9px;
}
#user_btn:hover{
    color:green;
    background-color: white;
    border: 2px green solid;
    box-shadow: 1px 1px 30px green;
}